{{!< default}}
<div id="container">
	<img src="/images/logo.svg" id="logo">
	<div id="top-section">
		<h1>PLAY A PIANO</h1>
		<img src="/images/piano.png" id="piano">
		<h1>SHARE A PIANO</h1>
	</div>
	<div id="signup-section">
		<h2>Interested?</h2>
		<div id="conversion">
			<div id="buttons">
				<button id="share">I have a piano to share.</button>
				<button id="play">I want a piano to play.</button>
			</div>
			<div id="form">
			</div>
		</div>
		<h2>Coming this year.</h2>
	</div>
</div>
