{{!< default}}
<div id="container" style="height: 100%; min-height: 100%; ">
	<img src="/images/logo.svg" id="logo">
	<div id="top-section">
		<h1>PLAY A PIANO</h1>
		<img src="/images/piano.png" id="piano">
		<h1>SHARE A PIANO</h1>
	</div>
	<div id="signup-section">
		<h2 id="interested">Interested?</h2>
		<div id="conversion">
			<div id="buttons-wrapper">
				<div class="conversion-element">
					<button id="share">I have a piano to share.</button>
					<button id="play">I want a piano to play.</button>
				</div>
				<form class="conversion-element">
					<input id="email" type="text" placeholder="email">
					<input id="city" type="text" placeholder="city">
					<input id="submit" type="submit">
				</form>
				<div class="conversion-element">
					<h2 id="success">Thanks! We'll be in touch with more information.</h2>
				</div>
			</div>
		</div>
		<h2 id="this-year">Coming this year.</h2>
	</div>

	<div id="top-section" style="width:66%;margin-left:auto;margin-right:auto;">
		<div class="conversion-element">
			<h1 style="font-size:1.55em;color:#28294A;font-weight:300">Piandigo is a platform for connecting piano players with pianos. You could call it Airbnb for pianos. Piandigo is open to all players, whether they are students just starting out or professionals looking for practice space in an unfamiliar city. At least, that’s our vision.</h2>

			<br/>

			<h1 style="font-size:1.55em;color:#28294A;font-weight:300">We’re just getting started, and would love your input. Please drop us a line at <a href="mailto:contact@piandigo.com">contact@piandigo.com</a></h2>

			<br/><br/><br/>

		</div>
	</div>
</div>

<div id="footer" style="clear:both;position:relative;margin-top:-.9em;width:100%;height:.9em;z-index:10;">
	<center>
		<h1 style="font-size:.8em;color:#28294A;font-weight:300;">We are committed to your privacy. Your email will be shared with nobody and only be used to get in touch with you about Piandigo. You may unsubscribe at any time.</h1>
	</center>
</div>